* {
  margin: 0;
}

.background {
  background-image: url("background.jpg");
  background-size: cover;
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.teddy {
  background-image: url("cute.gif");
  background-size: cover;
  height: 400px;
  width: 400px;
}
.hi {
  color: black;
  font-size: 40px;
  text-align: center;
  font-style: italic;
}
.t2 {
  font-size: 20px;
}
.button1 {
  margin-top: 20px;
  height: 60px;
  width: 150px;
  border: 4px solid hotpink;
  border-radius: 20px;
}

.button2 {
  margin-top: 20px;
  height: 60px;
  width: 150px;
  border: 4px solid hotpink;
  border-radius: 20px;
}
.a1 {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.teddy2 {
  background-image: url("cute2.gif");
  background-size: cover;
  height: 400px;
  width: 500px;
}
.button11 {
  margin-top: 20px;
  height: 60px;
  width: 150px;
  background-color: green;
  border: 4px solid white;
  border-radius: 20px;
}

.button22 {
  margin-top: 20px;
  height: 60px;
  width: 150px;
  background-color: red;
  border: 4px solid white;
  border-radius: 20px;
}

.a2 {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.teddy3 {
  background-image: url("cute3.gif");
  background-size: cover;
  height: 400px;
  width: 500px;
  margin-right: 50px;
}
.button33 {
  margin-top: 20px;
  height: 120px;
  width: 180px;
  background-color: green;
  border: 4px solid white;
  border-radius: 20px;
}

.button3 {
  margin-top: 20px;
  height: 50px;
  width: 180px;
  background-color: red;
  border: 4px solid white;
  border-radius: 20px;
}

.a33 {
  text-decoration: none;
  color: black;
  font-size: 30px;
}
.a3 {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.teddy4 {
  background-image: url("cute4.gif");
  background-size: cover;
  height: 400px;
  width: 400px;
}

.button44 {
  margin-top: 20px;
  height: 140px;
  width: 180px;
  background-color: green;
  border: 4px solid white;
  border-radius: 20px;
}

.button4 {
  margin-top: 20px;
  height: 40px;
  width: 180px;
  background-color: red;
  border: 4px solid white;
  border-radius: 20px;
}

.a44 {
  text-decoration: none;
  color: black;
  font-size: 30px;
}
.a4 {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.teddy5 {
  background-image: url("cute5.gif");
  background-size: cover;
  height: 400px;
  width: 400px;
}

.button44 {
  margin-top: 20px;
  height: 140px;
  width: 180px;
  background-color: green;
  border: 4px solid white;
  border-radius: 20px;
}

.button4 {
  margin-top: 20px;
  height: 40px;
  width: 180px;
  background-color: red;
  border: 4px solid white;
  border-radius: 20px;
}

.a44 {
  text-decoration: none;
  color: black;
  font-size: 30px;
}
.a4 {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.background2 {
  background-image: url("firecrackers.gif");
  background-size: cover;
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teddy6 {
  background-image: url("cute6.gif");
  background-size: cover;
  height: 400px;
  width: 600px;
  margin-left: 90px;
}
.button55 {
  margin-top: 20px;
  height: 140px;
  width: 180px;
  background-color: green;
  border: 4px solid white;
  border-radius: 20px;
}
.button55:hover {
  transform: scale(1.4);
}

.button5 {
  margin-top: 20px;
  height: 40px;
  width: 180px;
  background-color: red;
  border: 4px solid white;
  border-radius: 20px;
}

.button5:hover {
  transform: scale(0);
}
.quote {
  font-size: 20px;
  font-weight: bolder;
}
